body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AvatarSelectContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  border-top: #ddd solid 1px;
}
.AvatarSelectContainer .avatar-grid-item{
  width: 20%;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-right: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
}
.AvatarSelectContainer .avatar-grid-item:nth-child(5n-4){
  border-left: #ddd solid 1px;
}
.AvatarSelectContainer .avatar-grid-item img{
  display: block;
  margin: 9px auto;  
}