body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AvatarSelectContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  border-top: #ddd solid 1px;
}
.AvatarSelectContainer .avatar-grid-item{
  width: 20%;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-right: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
}
.AvatarSelectContainer .avatar-grid-item:nth-child(5n-4){
  border-left: #ddd solid 1px;
}
.AvatarSelectContainer .avatar-grid-item img{
  display: block;
  margin: 9px auto;  
}

.headerNav{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: #108ee9;
  color: #fff;
  z-index: 9;
}
.skeletonWrapper{
  padding-top: 45px;
  padding-bottom: 50px;
}

.tabsBarWrap{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
.tabsBarWrap>*{
  box-sizing: border-box;
}
.tabsBarWrap .tabsBar{
  position: relative;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}
.tabsBarWrap .tabsBar::before{
  content: '';
  position: absolute;
  background-color: #ddd;
  display: block;
  z-index: 1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: 50% 50%;
  transform: scaleY(.5);
}
.tabsBarWrap .tabsBar .tabBar{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.tabsBarWrap .tabsBar .tabBar .icon{
  display: flex;
  justify-content: center;
}
.tabsBarWrap .tabsBar .tabBar .icon .badge{
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}
.tabsBarWrap .tabsBar .tabBar .icon .badge .icon-img{
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
}
.tabsBarWrap .tabsBar .tabBar .icon .badge .badge-text{
  position: absolute;
  margin-top: 4px;
  top: -6px;
  left: 22px;
  height: 18px;
  line-height: 18px;
  min-width: 9px;
  border-radius: 12px;
  padding: 0 5px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #ff5b05;
  white-space: nowrap;
  transform: translateX(-45%);
  transform-origin: -10% center;
}
.tabsBarWrap .tabsBar .tabBar .title{
  text-align: center;
  margin: 3px 0 0;
  line-height: 1;
}

.staffWrapper{
  padding: 10px;
  background-color: #f1f1f1;
}
.staffWrapper .ant-card-body{
  padding: 15px;
  font-size: 14px;
}
.staffWrapper .label{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}
.staffWrapper .label+p{
  text-indent: 1em;
}

.personWrapper .quitButton{
  display: block;
  margin: 80px auto 20px;
}

.chatWrapper{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.chatWrapperHeader{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background-color: #1890ff;
  z-index: 9;
}
.chatWrapperHeader .ant-page-header-back-button,
.chatWrapperHeader .ant-page-header-heading-title{
  color: #fff;
}
.chatSendWrapper{
  position: fixed;
  z-index: 9;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.chatSendWrapper .emojiBox{
  height: 40px;
  overflow-y: auto;
}
.chatSendWrapper .emojiBox .emojiItem{
  position: relative;
  width: 10%;
  float: left;
}
.chatSendWrapper .emojiBox .emojiItem::before{
  content: '';
  display: block;
  padding-bottom: 100%;
}
.chatSendWrapper .emojiBox .emojiItem span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.chatWrapper .chatSend{
  display: flex;
}
.chatWrapper .chatSend .chatInput{
  flex: 1;
  overflow: hidden;
}
.chatWrapper .ant-list-item.rightShow .ant-list-item-meta{
  flex-direction: row-reverse;
}
.chatWrapper .ant-list-item.rightShow .ant-list-item-meta-description{
  text-align: right;
}